@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0;
    padding: 0;
    
    background-color: #0f172a;
}

.color{
    background-color: rgba(19, 140, 226, 0.5);
}
.border{
    border-bottom: 2px solid blue;
}
.radius{
border-radius: 55% 45% 58% 42% / 27% 20% 80% 73% ;
}
